<html>
    <head>
        <meta 
        http-equiv="content-type"    
        content="text/html; charset=utf-8" 
        />
        <style>
table, th, td {
    border: 1px solid black;
}
        </style>
    </head>
    <body>
        <h1>{{- .Title -}}</h1>
        <table>
            <th> dirName 目录 </th>
            <th> content 内容 </th>

            {{ range .Pages }}
            <tr>
                <td>
                    {{.Permalink}} 
                </td>
                <td>
                    <a href="{{.Permalink}}">{{.Title}}</a>
                </td>
            </tr>
            {{ end }}
        </table>
    </body>
</html>
