<html>
    <head>

        <meta http-equiv="content-type"    content="text/html; charset=utf-8" />

        <style>

table, th, td {
    border: 1px solid black;
}
        </style>

        <script>
            (function () {
                function startTime() {
                    t = setTimeout(function () {
                        startTime()
                    }, 590 );

                    var dynTime00 = new Date();
                    document.getElementById('PPPdynTime01').innerHTML = "SFO:" +
                        dynTime00.toLocaleString("en-US", {timeZone: "America/Los_Angeles"});
                    document.getElementById('PPPdynTime02').innerHTML = "_HK:" +
                        dynTime00.toLocaleString("en-US", {timeZone: "Asia/Hong_Kong"});
                }
                startTime();
            })();
        </script>


    </head>
    <body>

        <table>
            <tr>
                <th>idx</th>
                <th>Name</th>
                <th>TimeZone</th>
                <th>localTime</th>
            </tr>
            {{- range $elem_index, $elem_val := .Params.timeZoneSetS -}}
            {{  $nowZone := "" }}
            <tr>
                <td> {{$elem_index}} </td>
                {{- range $elem_2, $elem_2 := split $elem_val "," }}
                <td> 
                    {{- $elem_2 -}} 
                    {{- $nowZone = $elem_2 -}}
                </td>
                {{- end }}

                <td> <a id="TTTdynTime_{{- $elem_index -}}"> </a> </td>
            </tr>
            {{- end }}
        </table>

    </body>
</html>





<a id="PPPdynTime01"></a>
<a id="PPPdynTime02"></a>
