<html>
    <head>

        <meta http-equiv="content-type"    content="text/html; charset=utf-8" />

        <style>

table, th, td {
    border: 1px solid black;
}
        </style>

        <script>
            (function () {
                function TTTstartTime() {
                    t = setTimeout(function () {
                        TTTstartTime()
                    }, 999 );

                    var TTTdynTime00 = new Date();

                    {{  range $elem_index, $elem_val := .Params.timeZoneSetS -}}
                    {{- $elem_25 := "" -}}
                    {{- $elem_26 := "" -}}
                    {{- range $elem_23, $elem_24 := split $elem_val "," -}}
                    {{- if eq 0 $elem_23 -}}
                    {{- $elem_25 = $elem_24 -}}
                    {{- end -}}
                    {{- if eq 1 $elem_23 -}}
                    {{- $elem_26 = $elem_24 -}}
                    {{- end -}}
                    {{- end  }}
                    document.getElementById('TTTdynTime_{{- $elem_index -}}').innerHTML = 
                        TTTdynTime00.toLocaleString("en-US", {timeZone: {{- $elem_26 -}}});
                    {{ end }}

                }
                TTTstartTime();
            })();
        </script>


    </head>
    <body>

        <table>
            <tr>
                <th>idx</th>
                <th>Name</th>
                <th>TimeZone</th>
                <th>city</th>
                <th>localTime</th>
            </tr>
            {{- range $elem_index, $elem_val := .Params.timeZoneSetS -}}
            <tr>
                <td> {{$elem_index}} </td>
                {{- range $elem_21, $elem_22 := split $elem_val "," }}
                <td> 
                    {{- $elem_22 -}} 
                </td>
                {{- end }}

                <td> <a id="TTTdynTime_{{- $elem_index -}}"> </a> </td>
            </tr>
            {{- end }}
        </table>

    </body>
</html>

{{/* /usr/share/zoneinfo/Asia/Hong_Kong */}}
{{/* 
2 
EDT 
America/New_York 
Washington_DC 
3/23/2020, 5:21:24 AM 
*/}}

