{{- if ( .Get 3 ) -}}

{{- $path1   := .Get 0 -}}
{{- $colorbg := .Get 1 -}}
{{- $colorfg := .Get 2 -}}
{{- $text4   := .Get 3  }}

&nbsp;
<button 
    type="button"
    style="background-color:lightblue; color:{{ $colorfg }}; font-size:112%; border:5px {{ $colorbg }} dotted;"
    onclick="copypath2clipboard('{{ $path1 }}','{{ $text4 }}')"
    onMouseOver="this.style.backgroundColor='lightpink'"
    onMouseOut="this.style.backgroundColor='lightblue'"
    {{ with .Get 4 }} title="{{ . }}" {{ end }}
    > 
    {{ $text4 }} 
</button> 
&nbsp;

{{ end -}}
