{{- $para1 := .Get 0 -}}
<div>
    {{- range $taxonomyname, $taxonomy := .Site.Taxonomies -}}
    {{- range $key, $value := $taxonomy -}}
    {{- if or (eq $key $para1) ( eq 0 (len .Params) ) -}}
    {{- range $index, $element := $value.Pages -}}

    {{- $idx := mod $index 3 -}}
    {{- if (eq $idx 0) -}} <div Width="100%" style="border:1px dotted green;" > {{- end -}}
    {{- if (eq $idx 1) -}} <div Width="100%" style="border:1px dotted blue;" > {{- end -}}
    {{- if (eq $idx 2) -}} <div Width="100%" style="border:1px dotted red;" > {{- end -}}

        <a rel="noopener noreferrer" 
           target="_blank" 
           href="{{- .Permalink -}}" 
           > 
           {{- .LinkTitle -}} </a> </div><br>
    {{- end -}}
    {{- end -}}
    {{- end -}}
    {{- end -}}
</div>
