{{- if ( .Get 0 ) -}}
{{- $cmp1 := .Get 0 -}}
{{- $tBase1 := path.Dir .Page.File -}}
{{- $tBase20 := path.Join "content" $tBase1 -}}
{{- $tBase3 := readDir $tBase20 -}}
{{- range $tBase3 -}}
{{- $nowName := .Name -}}
{{- if eq $nowName $cmp1 -}}
<h2 style="color:red"> &darr;&darr;&darr; 以下图片可以点击放大 &darr;&darr;&darr; </h2>
<h2 style="color:red"> &uarr;&uarr;&uarr; 以上图片可以点击放大 &uarr;&uarr;&uarr; </h2>
<a  href="{{ $nowName }}">
<img src="{{ $nowName }}" style="max-width:99%; max-height:1000px;"></a>
{{- end -}}
{{- end -}}
{{- end -}}
