{{- if .Get "link" -}}
   {{- $var_my2linktextonly := "99" -}}
   {{- $var_my2linktextShow := .Get "link" -}}
   {{- $currentLang := .Site.Language.Lang -}}

   {{- if eq "en" $currentLang -}}
   {{- $var_my2linktextonly = "1" -}}
   {{- if .Get "en" -}}
   {{- $var_my2linktextShow = .Get "en" -}}
   {{- else -}}
   {{- $var_my2linktextShow = " the origin source link " -}}
   {{- end -}}
   {{- end -}}

   {{- if eq "cn" $currentLang -}}
   {{- $var_my2linktextonly = "2" -}}
   {{- if .Get "cn" -}}
   {{- $var_my2linktextShow = .Get "cn" -}}
   {{- else -}}
   {{- $var_my2linktextShow = " 原始來源網址 " -}}
   {{- end -}}
   {{- end -}}

<a href="{{- .Get "link" -}}" 
   title="{{- .Get "link" -}}" 
   style="background-color:Gray; color:Tomato; font-size:150%; border:5px MediumSeaGreen dotted;"
   rel="noopener noreferrer" 
   target="_blank" 
   > 
   {{- $var_my2linktextShow -}}
</a>
{{- end -}}
