{{- $cmp1  := "" -}}
{{- $cmp1t := "" -}}
{{- with .Get "mp3"  -}} {{- $cmp1 = .   -}} {{- $cmp1t = "mp3"  -}} {{- end -}}
{{- with .Get "wav"  -}} {{- $cmp1 = .   -}} {{- $cmp1t = "wav"  -}} {{- end -}}
{{- with .Get "ogg"  -}} {{- $cmp1 = .   -}} {{- $cmp1t = "ogg"  -}} {{- end -}}
{{- with .Get "m4a"  -}} {{- $cmp1 = .   -}} {{- $cmp1t = "mp4"  -}} {{- end -}}
{{- with .Get "mp4"  -}} {{- $cmp1 = .   -}} {{- $cmp1t = "mp4"  -}} {{- end -}}
{{- with .Get "webm" -}} {{- $cmp1 = .   -}} {{- $cmp1t = "webm" -}} {{- end -}}

{{- if not $cmp1 -}}
{{- errorf $cmp1t "\n\n No mp4 para exist. exit . " -}}
{{- end -}}

{{- $dealwithed := 1 -}}
{{- $size1 := 0 -}}

{{- $tBase1 := path.Dir .Page.File -}}
{{- $tBase20 := path.Join "content" $tBase1 -}}
{{- $tBase3 := readDir $tBase20 -}}


{{- range $tBase3 -}}
{{- $nowName := .Name -}}
{{- if eq $nowName $cmp1 -}}
{{- $dealwithed = 2 -}}
{{- $size1 = .Size -}}
{{/* got [{{- $cmp1 -}}],<br> */}}
{{- end -}}
{{- end -}}

{{- if ne $dealwithed 2 -}}
{{- errorf "\n\n file [%s] not found. exit ." $cmp1 -}}
{{- end -}}



{{ $size8 := printf "%d byte" $size1 }}
{{ $size9 := "" }}
{{ $size2 := $size1 }}
{{ $size3 := mul 1.0 $size1 }}
{{ $size4 := 1.0 }}

{{ if ge $size2 1024 }}
{{ $size2 = div $size2 1024}}
{{ if ge $size2 1024 }}
{{ $size4 = div $size3 1048576  }}
{{ $size9 = printf "%.1f MiB" $size4 }}
{{ else }}
{{ $size4 = div $size3 1024  }}
{{ $size9 = printf "%.1f KiB" $size4 }}
{{ end }}
{{ end }}



{{- $downshow1 := "download audio " -}}
{{- $downshow3 := printf "%s , %s" $size8 $size9 -}}
{{- $downshow4 := "上一行是播放条，它的左上角的小三角形是播放按钮" -}}


{{- $currentLang := .Site.Language.Lang -}}
{{- if eq "cn" $currentLang -}}
{{- $downshow1 = "下载音频" -}}
{{- end -}}



<br><br>
<div 
    title = "{{ $cmp1 }} {{ $downshow3 }}"
    Width="100%" 
    style="border:2px dotted Red;font-size:100%" >
<audio 
    controls 
    preload="none" 
    style="margin-bottom:2px;Max-Width:100%;width: 100%;">
    <source 
    type="audio/{{- $cmp1t -}}" 
    src="{{- $cmp1 -}}">
    YN032 {{- $cmp1 -}}
</audio> 
<text style="font-size:70%;color:blue">{{- $downshow4 -}}</text>

<br><br>

{{ with .Get "text" }} <strong style="font-size:150%" > &nbsp; {{ . }} &nbsp; </strong> {{ end }}

<a rel="noopener noreferrer" 
   style="border:none dotted Red;font-size:200%; background-color:AliceBlue; "
   download 
   target="_blank" 
   href="{{- $cmp1 -}}"     
   title="{{- $cmp1 -}}"     
   > {{- $downshow1 -}} </a>
<br><br>
<strong style="font-size:120%;color:red">{{- $downshow3 -}}</strong>
<strong style="font-size:120%;color:blue">{{- $cmp1 -}}</strong>



</div> 
<br><br>

{{/*
<div> 
    cmp1,{{- $cmp1 -}},<br>
    size1,{{- $size1 -}},<br>
    size8,{{- $size8 -}},<br>
    size9,{{- $size9 -}},<br>
    sizeT,{{- printf "%f" (div 1.0 3) -}},<br>
    cmp2,{{- $cmp2 -}},<br>
</div> 
*/}}
