{{ with .Get "ogg" }}
<br>
<audio controls preload="none" style="width: 100%; margin-bottom: 20px">
<source src="{{ . }}" type="audio/ogg">
YN001
</audio><a href="{{ . }}" rel="noopener noreferrer" target="_blank" >{{ . }}</a><br>
{{ end }}

{{ with .Get "mp3" }}
<br>
<audio controls preload="none" style="width: 100%; margin-bottom: 20px">
<source src="{{ . }}" type="audio/mpeg">
YN002
</audio><a href="{{ . }}" rel="noopener noreferrer" target="_blank" >{{ . }}</a><br>
{{ end }}

{{ with .Get "wav" }}
<br>
<audio controls preload="none" style="width: 100%; margin-bottom: 20px">
<source src="{{ . }}" type="audio/wav">
YN003
</audio><a href="{{ . }}" rel="noopener noreferrer" target="_blank" >{{ . }}</a><br>
{{ end }}

