<br>
<div Width="100%" style="border:1px solid black;" >

{{ with .Get "mp4" }}
<br>
<video preload="none" controls style="margin-bottom:20px;" Max-Width="95%"
poster="{{ . }}.jpg"
> <source src="{{ . }}"
type="video/mp4">
YN032 {{ . }}
</video>
<br>
<a href="{{ . }}" rel="noopener noreferrer" target="_blank" >{{ . }} -- download 下载</a><br>
<a href="{{ . }}.jpg" rel="noopener noreferrer" target="_blank" >{{ . }}.jpg -- download 下载</a><br>
{{ end }}

{{ with .Get "text" }}
<br>{{ . }}
<br>如果部分手机显示不正常，
<br>请横屏播放，或者全屏播放
{{ end }}

</div>
