<br>
<div Width="100%" style="border:1px dotted Tomato; font-size:150%;">



<object 
{{- with .Get "pdf" }}
data="{{ . }}"
type="application/pdf" width="100%"
{{- end }}
>

{{- with .Get "text" }}
<div Width="100%" >
{{ . }}
</div>
{{- end }}

</object>

<div Width="100%" Height="600px">
{{- with .Get "link" }}
<a href="{{ . }}" rel="noopener noreferrer" target="_blank" >{{ . }}</a>
{{- else }}
{{- with .Get "pdf" }}
<a href="{{ . }}" rel="noopener noreferrer" target="_blank" >{{ . }}</a>
{{- end }}
{{- end }}
</div>

</div>
<br>
