{{ with .Get "mp4" }}

<div Width="200px" Height="200px">
<video preload="none" controls Width="200px" Height="200px" 
style="margin-bottom:20px;transform:rotate(0deg);" 
poster="{{ . }}.jpg"
> <source src="{{ . }}"
type="video/mp4">
YN051 {{ . }}
</video><br>
<a href="{{ . }}" rel="noopener noreferrer"   >{{ . }}</a>
</div><br>

<div Width="400px" Height="400px">
<video preload="none" controls Width="400px" Height="400px" 
style="margin-bottom:20px;transform:rotate(0deg);" 
poster="{{ . }}.jpg"
> <source src="{{ . }}"
type="video/mp4">
YN052 {{ . }}
</video><br>
<a href="{{ . }}" rel="noopener noreferrer"   >{{ . }}</a>
</div><br>

<div Width="800px" Height="800px">
<video preload="none" controls Width="800px" Height="800px" 
style="margin-bottom:20px;transform:rotate(0deg);" 
poster="{{ . }}.jpg"
> <source src="{{ . }}"
type="video/mp4">
YN053 {{ . }}
</video><br>
<a href="{{ . }}" rel="noopener noreferrer"   >{{ . }}</a>
</div><br>

<div Width="1200px" Height="1200px">
<video preload="none" controls Width="1200px" Height="1200px" 
style="margin-bottom:20px;transform:rotate(0deg);" 
poster="{{ . }}.jpg"
> <source src="{{ . }}"
type="video/mp4">
YN054 {{ . }}
</video><br>
<a href="{{ . }}" rel="noopener noreferrer"   >{{ . }}</a>
</div><br>


{{ end }}
