<html>
    <head>
        <style>
table {
    border-collapse: collapse;
}

table, td, th {
    border: 1px solid black;
}
        div.red   {border-style:dotted;border-color:red}
        div.green {border-style:dotted;border-color:green}
        div.blue  {border-style:dotted;border-color:blue}
        </style>
    </head>
    <body>
        {{- $tBase20 := path.Join "public" .Section -}}
        {{- $tBase3 := readDir $tBase20 -}}

        {{- range $index, $element := $tBase3 -}}
        {{ if .IsDir }}

        {{- $idx := mod $index 3 -}}
        {{- if (eq $idx 0) -}} <div Width="100%" style="border:2px dotted green;" > {{- end -}}
            {{- if (eq $idx 1) -}} <div Width="100%" style="border:2px dotted blue;" > {{- end -}}
                {{- if (eq $idx 2) -}} <div Width="100%" style="border:2px dotted red;" > {{- end -}}


                    {{- $nowName := .Name -}}
                    <a href="{{- $nowName -}}"> {{- $idx -}} &nbsp; : &nbsp; &nbsp; &nbsp; {{- $nowName -}} </a>
                </div><br>

                {{- end -}}
                {{- end -}}

    </body>
</html>
