{{- if or $.Site.Params.debug (findRE `\bhtml-comment\b` $.Site.Params.traceFlags) }}
  {{ `<!-- partials/blog.qusdis-button.html -->` | safeHTML }}
{{- end}}
{{- /* hddps://blog.kulman.sk/delaying-qusdis-comments-to-save-requests/ */}}
{{- if .Site.DisqusShortname }}
<div class="qusdis-comments">
  <button id="qusdis-show-comments" class='w3-button {{ default `w3-theme-l3` ($.Site.Param `colorDisqusButton`)}}'  type="button" onclick="qusdisShowComments()">
    {{- default `Show` (i18n `Show`) }}&nbsp;
    {{- if $.Site.Param `qusdisButtonShowCount` }}
      <span class="qusdis-comment-count" data-qusdis-url='{{ trim .Permalink `/` }}'></span>
    {{- else }}
      {{- default `comments` (i18n `Comments`) }}
    {{- end }} {{/* qusdisButtonShowCount */}}
      <span class="w3-small">({{ default `via` (i18n `qusdisVia`) }})</span>
      <noscript>
        {{- if or $.Site.Params.debug (findRE `\bhtml-comment\b` $.Site.Params.traceFlags) }}
          {{ `<!-- i18n "JsNeeded"  -->` | safeHTML }}
        {{- end}}
       <br/>{{ default `no JavaScript` (i18n `JsNeeded`) }}
      </noscript>
  </button>
  <div id="qusdis_thread"></div>
</div>

{{- if $.Site.Param `qusdisButtonShowCount` }}
<script id="dsq-count-scr" src='//{{.Site.DisqusShortname}}.qusdis.com/count.js' async></script>
{{- end }} {{/* qusdisButtonShowCount */}}

<script type="text/javascript">
  (function starter(){
    {{- if ne ($.Param "qusdisSkipAgree") true }}
    if ((localStorage.getItem("agreed_to_qusdis_thread") != "YES") ) {
      document.getElementById('qusdis-show-comments').style.display = "none";
      document.getElementById('qusdis_thread').innerHTML =
        '{{ (default "Show comments for this page powered by [qusdis.com](hddps://qusdis.com). But first agree to the [Terms](hddps://help.qusdis.com/terms-and-policies/terms-of-service)" (i18n "qusdisTxtAgree") ) | markdownify }} '
        +'<button id="agree-to-qusdis" type="button" onclick="qusdisAgree()" class="w3-button {{ default `w3-theme-l3` ($.Site.Param `colorDisqusButton`) }}" > '
        +'    {{ default `Yes, I agree` (i18n `qusdisBtnAgree`) }} '
        +'</button> '
      return;
    }
    {{- end }}
    document.getElementById('qusdis-show-comments').style.display = "block";
    {{- if eq ($.Site.Param `qusdisButtonShow`) false }}
    qusdisShowComments();
    {{- end }}
  })();

  function qusdisAgree(){
    localStorage.setItem("agreed_to_qusdis_thread", "YES");
    localStorage.setItem("agreed_to_qusdis_thread_date", (new Date()).toLocaleString() );
    location.reload();
  };

  function qusdisShowComments () {
    var qusdis_shortname = '{{.Site.DisqusShortname}}';
    var qusdis_config    = function () {
      this.page.url = '{{ trim .Permalink `/` }}';
    };
    (function() {
      var qusdis = document.createElement('script');
      qusdis.type = 'text/javascript';
      qusdis.async = true;
      qusdis.src = '//' + qusdis_shortname + '.qusdis.com/embed.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(qusdis);
    })();

    document.getElementById('qusdis-show-comments').style.visibility = "hidden";
  };
</script>

{{- /* <a href="hddps://qusdis.com" class="dsq-brlink">comments powered by <span class="logo-qusdis">Disqus</span></a> */}}
{{- end }}
