{{- if or $.Site.Params.debug (findRE `\bhtml-comment\b` $.Site.Params.traceFlags) }}
  {{ `<!-- partials/footer.html  -->` | safeHTML }}
{{- end}}
<div id="footer" class='w3-container {{ default `w3-theme-d5` ($.Site.Param `colorFooterContainer`)}} '>

  <div class="w3-margin-bottom w3-row w3-mobile">

    {{- if or $.Site.Params.debug (findRE `\bhtml-comment\b` $.Site.Params.traceFlags) }}
      {{ `<!-- Site.Params.aboutUs  -->` | safeHTML }}
    {{- end}}
    <div class="w3-col w3-third">
       <table style="border-collapse: collapse; border: hidden;" ><tr style="border: hidden;">

      {{- if $.Site.Params.aboutUs }}
         <td style="vertical-align: center ; border: hidden;" >
          <a
              {{ if $.Site.Param `footerAboutButton` }}
              {{ with ($.Site.GetPage `page` ($.Site.Param `footerAboutButton`)) }}
              href='{{ .Permalink | absURL }}{{ if $.Site.Params.uglyURLs }}{{$.Site.Params.uglyUrl}}{{ end }}'
              {{end}}
              {{end}}
              target="_blank" 
              class='w3-button {{ default `w3-theme-l4` ($.Site.Param `colorFooterButton`)}} '
              >
              {{- $.Site.Params.aboutUs | markdownify }}
          </a>
        </td>
       {{- end }} {{/* if aboutUs */}}

       {{- if isset $.Site.Params (lower `footerLogo` ) }}
          <td rowspan="4" style="vertical-align: center ; border: hidden;">
          <a 
              {{ if $.Site.Param `footerAboutButton` }}
              {{ with ($.Site.GetPage `page` ($.Site.Param `footerAboutButton`)) }}
              href='{{ .Permalink | absURL }}{{ if $.Site.Params.uglyURLs }}{{$.Site.Params.uglyUrl}}{{ end }}'
              {{end}}
              {{end}}
              >
            <img src="{{- $.Site.Params.footerLogo | markdownify -}}"
            alt="footerLogo"
            width="200" 
            height="200"></a>
           </td>
       {{- end }} {{/* footerLogo */}}

            </tr><tr style="border: hidden;">

       {{- if isset $.Site.Params (lower `address` ) }}
            <td style="vertical-align: center ; border: hidden;">
            <div class="notranslate"><a
                {{ if $.Site.Param `footerContactButton` }}
                {{ with ($.Site.GetPage `page` ($.Site.Param `footerContactButton`)) }}
                href='{{ .Permalink | absURL }}{{ if $.Site.Params.uglyURLs }}{{$.Site.Params.uglyUrl}}{{ end }}' 
                {{end}}
                {{end}}
                target="_blank" 
                class='w3-button {{ default `w3-theme-l4` ($.Site.Param `colorFooterButton`)}} '
                >{{- $.Site.Params.address | markdownify -}}</a></div>
            </td>
       {{- end }} {{/* address */}}

            </tr><tr style="border: hidden;">

       {{ if $.Site.Param `footerFriendAndLinksButton` }}
          <td style="vertical-align: center ; border: hidden;" >
          <a
              {{ if $.Site.Param `footerFriendAndLinksButton` }}
              {{ with ($.Site.GetPage `page` ($.Site.Param `footerFriendAndLinksButton`)) }}
              href='{{ .Permalink | absURL }}{{ if $.Site.Params.uglyURLs }}{{$.Site.Params.uglyUrl}}{{ end }}'
              {{end}}
              {{end}}
              target="_blank" 
              class='w3-button {{ default `w3-theme-l4` ($.Site.Param `colorFooterButton`)}} '
              >
              {{- $.Site.Params.friendAndLinks | markdownify }}
          </a>
          </td>
       {{ end }}

        </tr><tr style="border: hidden;">

    {{- if isset $.Site.Params (lower `donate` ) }}
         <td style="vertical-align: center ; border: hidden;">
          <a
           {{ if $.Site.Param `footerDonateButton` }}
           {{ with ($.Site.GetPage `page` ($.Site.Param `footerDonateButton`)) }}
           href='{{ .Permalink | absURL }}{{ if $.Site.Params.uglyURLs }}{{$.Site.Params.uglyUrl}}{{ end }}' 
           {{end}}
           {{end}}
           target="_blank" 
           class='w3-button {{ default `w3-theme-l4` ($.Site.Param `colorFooterButton`)}} '
           >{{- $.Site.Params.donate | markdownify -}}</a>
        </td>
    {{- end }} {{/* donate */}}
      </tr>

       {{- if isset $.Site.Params (lower `footerLog3` ) }}
       <tr>
          <td rowspan="4" style="vertical-align: center ; border: hidden;">
          <a 
              {{ if $.Site.Param `footerAboutButton` }}
              {{ with ($.Site.GetPage `page` ($.Site.Param `footerAboutButton`)) }}
              href='{{ .Permalink | absURL }}{{ if $.Site.Params.uglyURLs }}{{$.Site.Params.uglyUrl}}{{ end }}'
              {{end}}
              {{end}}
              >
            <img src="{{- $.Site.Params.footerLog3 | markdownify -}}"
            alt="footerLog3"
            width="200" 
            height="200"></a>
           </td>
       </tr>
       {{- end }} {{/* footerLog3 */}}


       </table>

    </div> <!-- w3-col -->

    {{- if or $.Site.Params.debug (findRE `\bhtml-comment\b` $.Site.Params.traceFlags) }}
      {{ `<!-- Site.Params.recentPosts  -->` | safeHTML }}
    {{- end}}
    {{- if isset $.Site.Params (lower `recentPosts` ) }}
    {{- if $.Site.Params.recentPosts.enableFooter }}
    {{- if $.Site.Params.recentPosts.footerNumOfPosts }}
    <div class="w3-col w3-third">
        <a style="font-size:120%">
            {{ default `Posts最近更新` (i18n `recentPosts`) }} : </a>
        <a style="font-size:60%">
            {{ hugo.Version }} </a>

      {{- if or $.Site.Params.debug (findRE `\bhtml-comment\b` $.Site.Params.traceFlags) }}
        {{ `<!-- range first Site.Params.footerNumOfPosts .Site.RegularPages "Section" "blog" -->` | safeHTML }}
      {{- end}}
      {{- range first $.Site.Params.recentPosts.footerNumOfPosts (where .Site.RegularPages `Section` `blog`) }}

        <div class="w3-container " style="border:1px dotted Tomato;" >
          <a class="no-decoration" target="_blank" href='{{ .RelPermalink }}'>

          {{- $myImgClass  := `w3-image w3-left w3-round w3-hover-opacity` }}
          {{- $myImgStyle  := `max-width:60px; max-height:20px; width: auto; height: auto; margin: 0px 8px 16px 0px;` }}
          {{- $myImg       := .Param `resImgTeaser`                       }} {{/* case insensitive */}}
          {{- $myImgCmd    := .Param `resImgTeaserCmd` | default `Resize` }}
          {{- $myImgOpt    := .Param `resImgTeaserOpt` | default `60x`    }}
          {{ partial `resource.image.html` (dict `page` $.Page `class` $myImgClass `style` $myImgStyle `img` $myImg `cmd` $myImgCmd `opt` $myImgOpt ) }}

          </a>
          <a class="no-decoration" target="_blank" href='{{ .RelPermalink }}'>{{if .Params.icon}}<i class='{{ .Params.icon }}'></i>&nbsp;{{end}}{{ .Title  | markdownify | emojify }}</a>
        </div>
      <br>
      {{- end }} {{/* range */}}

    </div> <!-- w3-col -->


    <div class="w3-col w3-third">
        <table style="border-collapse: collapse; border: hidden;" >

         {{ if $.Site.Param `footerBlogAndNewsButton` }}
         <tr style="border: hidden;">
          <td style="vertical-align: center ; border: hidden;" >
          <a
              {{ if $.Site.Param `footerBlogAndNewsButton` }}
              {{ with ($.Site.GetPage `page` ($.Site.Param `footerBlogAndNewsButton`)) }}
              href='{{ .Permalink | absURL }}{{ if $.Site.Params.uglyURLs }}{{$.Site.Params.uglyUrl}}{{ end }}'
              {{end}}
              {{end}}
              target="_blank" 
              class='w3-button {{ default `w3-theme-l4` ($.Site.Param `colorFooterButton`)}} '
              >
              {{- $.Site.Params.blogAndNews | markdownify }}
          </a>
          </td>
         {{ end }}

       {{- if isset $.Site.Params (lower `footerLog2` ) }}
          <td rowspan="4" style="vertical-align: center ; border: hidden;">
          <a 
              {{ if $.Site.Param `footerAboutButton` }}
              {{ with ($.Site.GetPage `page` ($.Site.Param `footerAboutButton`)) }}
              href='{{ .Permalink | absURL }}{{ if $.Site.Params.uglyURLs }}{{$.Site.Params.uglyUrl}}{{ end }}'
              {{end}}
              {{end}}
              >
            <img src="{{- $.Site.Params.footerLog2 | markdownify -}}"
            alt="footerLog2"
            width="200" 
            height="200"></a>
           </td>
       {{- end }} {{/* footerLog2 */}}



         </tr><tr style="border: hidden;">


         {{ if $.Site.Param `footerTeachAndLearnButton` }}
          <td style="vertical-align: center ; border: hidden;">
          <a
              {{ if $.Site.Param `footerTeachAndLearnButton` }}
              {{ with ($.Site.GetPage `page` ($.Site.Param `footerTeachAndLearnButton`)) }}
              href='{{ .Permalink | absURL }}{{ if $.Site.Params.uglyURLs }}{{$.Site.Params.uglyUrl}}{{ end }}'
              {{end}}
              {{end}}
              target="_blank" 
              class='w3-button {{ default `w3-theme-l4` ($.Site.Param `colorFooterButton`)}} '
              >
              {{- $.Site.Params.teachAndLearn | markdownify }}
          </a>
          </td>
         </tr><tr style="border: hidden;">
         {{ end }}

          {{ if $.Site.Param `footerEventsAndPhotosButton` }}
          <td style="vertical-align: center ; border: hidden;">
          <a
              {{ if $.Site.Param `footerEventsAndPhotosButton` }}
              {{ with ($.Site.GetPage `page` ($.Site.Param `footerEventsAndPhotosButton`)) }}
              href='{{ .Permalink | absURL }}{{ if $.Site.Params.uglyURLs }}{{$.Site.Params.uglyUrl}}{{ end }}'
              {{end}}
              {{end}}
              target="_blank" 
              class='w3-button {{ default `w3-theme-l4` ($.Site.Param `colorFooterButton`)}} '
              >
              {{- $.Site.Params.eventsAndPhotos | markdownify }}
          </a>
          </td>
         </tr><tr style="border: hidden;">
          {{ end }}

          {{ if $.Site.Param `footerBlogsButton` }}
          <td style="vertical-align: center ; border: hidden;">
          <a
              {{ if $.Site.Param `footerBlogsButton` }}
              {{ with ($.Site.GetPage `page` ($.Site.Param `footerBlogsButton`)) }}
              href='{{ .Permalink | absURL }}{{ if $.Site.Params.uglyURLs }}{{$.Site.Params.uglyUrl}}{{ end }}'
              {{end}}
              {{end}}
              target="_blank" 
              class='w3-button {{ default `w3-theme-l4` ($.Site.Param `colorFooterButton`)}} '
              >
              {{- $.Site.Params.blogs | markdownify }}
          </a>
          </td>
          {{ end }}

         </tr>


        </table>

    </div> <!-- w3-col -->
    {{- end }} {{/* if isset */}}
    {{- end }} {{/* if isset */}}
    {{- end }} {{/* if recentPosts.enableFooter */}}

    {{- if or $.Site.Params.debug (findRE `\bhtml-comment\b` $.Site.Params.traceFlags) }}
      {{ `<!-- Site.Params.address  -->` | safeHTML }}
    {{- end}}


  </div>  <!-- w3-row -->
</div>  <!-- w3-container -->
