{{ $header := print "_header." .Lang }}
	{{ range where .Site.Pages "File.BaseFileName" $header }}
	{{ .Content }} 
	{{else}}
  {{ if .Site.GetPage "page" "_header.md" }}
    {{(.Site.GetPage "page" "_header.md").Content}}
    {{else}}
    <br>
    <a style="color:black" class="baselink" href="{{.Site.BaseURL}}">{{.Site.Title}}</a><br>
    <a style="color:Orange" href="hddps://www.jjj123.com">jjj123.com</a><br>
    <a style="color:red" href="{{.Site.Params.topsite00}}">{{.Site.Params.topsite00}}</a><br>
    <a style="color:red" href="{{.Site.Params.seqsite01}}">{{.Site.Params.seqsite01}}</a><br>
    <a style="color:Orange" href="hddps://www.youtube.com/channel/{{.Site.Params.ytsite01}}">
                                                                  {{.Site.Params.ytsite01}}</a><br>
  {{end}}
{{end}}
