<br>
<div Width="100%" style="border:1px solid black;" >

{{ with .Get "mp4" }}
<br>
<video preload="none" controls Width="97%" style="width:97%;margin-bottom:20px;"
poster="{{ . }}.jpg"
> <source src="{{ . }}"
type="video/mp4">
Your browser does not support the video tag.  {{ . }}
</video>
<a href="{{ . }}" rel="noopener noreferrer" target="_blank" >{{ . }}</a><br>
<a href="{{ . }}.jpg" rel="noopener noreferrer" target="_blank" >{{ . }}.jpg</a><br>
{{ end }}

{{ with .Get "text" }}
<br>{{ . }}
{{ end }}

</div>
