<div id="dynTime01"></div>
<div id="dynTime02"></div>

<script>
(function () {
    function startTime() {
        t = setTimeout(function () {
            startTime()
        }, 59000);

        var dynTime00 = new Date();
        document.getElementById('dynTime01').innerHTML = "San_Francisco : " +
        dynTime00.toLocaleString("en-US", {timeZone: "America/Los_Angeles"});
        document.getElementById('dynTime02').innerHTML = "__Hong_Kong : " +
        dynTime00.toLocaleString("en-US", {timeZone: "Asia/Hong_Kong"});
    }
    startTime();
})();
</script>

