<myframe01>
{{ with .Get "src" }}
<a href="{{ . }}">{{ . }}</a>


<table border="1" bordercolor="green" align="center" Width="98%" Height="98%"><tr><td Width="98%" Height="98%" >
            <iframe src="{{ . }}"
                    Width="98%" Height="600px" style="max-width:99%"><p> {{ . }} </p></iframe>
</td>
<td><table Width="40px" Height="98%">

<tr><td>
<button style="background-color:red;width:36px;font-size:24px;"
onclick="window.location.href='{{ . }}'"
>放<br>大</button>
</td></tr>

<tr><td>
<button style="background-color:red;width:36px;font-size:24px;"
onclick="window.location.href='{{ . }}'"
>放<br>大</button>
</td></tr>

<tr><td>
<button style="background-color:red;width:36px;font-size:24px;"
onclick="window.location.href='{{ . }}'"
>放<br>大</button>
</td></tr>

<tr><td>
<button style="background-color:red;width:36px;font-size:24px;"
        onclick="window.location.href='{{ . }}'"
>放<br>大</button>
</td></tr>

</table>
</td>
</tr></table>





{{ end }}
</myframe01>
