<br>
<div Width="100%" style="border:1px solid black;" >

{{ with .Get "text" }}
<div Width="100%" style="border:1px solid black;" >
{{ . }}
</div>
{{ end }}

{{ with .Get "text2" }}
<div Width="100%" style="border:1px solid black;" >
{{ . }}
</div>
{{ end }}

{{ with .Get "text3" }}
<div Width="100%" style="border:1px solid black;" >
{{ . }}
</div>
{{ end }}

{{ with .Get "text4" }}
<div Width="100%" style="border:1px solid black;" >
{{ . }}
</div>
{{ end }}

{{ with .Get "link" }}
<div Width="100%" style="border:1px solid black;" >
<a href="{{ . }}" rel="noopener noreferrer" target="_blank" >{{ . }}</a>
</div>
{{ end }}

{{ with .Get "link2" }}
<div Width="100%" style="border:1px solid black;" >
<a href="{{ . }}" rel="noopener noreferrer" target="_blank" >{{ . }}</a>
</div>
{{ end }}

{{ with .Get "link3" }}
<div Width="100%" style="border:1px solid black;" >
<a href="{{ . }}" rel="noopener noreferrer" target="_blank" >{{ . }}</a>
</div>
{{ end }}

{{ with .Get "link4" }}
<div Width="100%" style="border:1px solid black;" >
<a href="{{ . }}" rel="noopener noreferrer" target="_blank" >{{ . }}</a>
</div>
{{ end }}


{{ with .Get "jpg" }}
<div Width="100%" style="border:1px solid black;" >
<img src="{{ . }}" alt="{{ . }}" rel="noopener noreferrer" >
</div>
{{ end }}

</div>
