<br>
<div Width="100%" style="border:1px solid black;" >

{{ with .Get "ogg" }}
<audio controls preload="none" style="width: 100%; margin-bottom: 20px">
<source src="{{ . }}" type="audio/ogg">
Your browser does not support the audio element.
</audio><a href="{{ . }}" rel="noopener noreferrer" target="_blank" >{{ . }}</a><br>
{{ end }}

{{ with .Get "mp3" }}
<br>
<audio controls preload="none" style="width: 100%; margin-bottom: 20px">
<source src="{{ . }}" type="audio/mpeg">
Your browser does not support the audio element.
</audio><a href="{{ . }}" rel="noopener noreferrer" target="_blank" >{{ . }}</a><br>
{{ end }}

{{ with .Get "wav" }}
<br>
<audio controls preload="none" style="width: 100%; margin-bottom: 20px">
<source src="{{ . }}" type="audio/wav">
Your browser does not support the audio element.
</audio><a href="{{ . }}" rel="noopener noreferrer" target="_blank" >{{ . }}</a><br>
{{ end }}

{{ with .Get "text" }}
<br>{{ . }}
{{ end }}

</div>
