{{ with .Get "mp4" }}

<div Width="400px" Height="400px">
<video preload="none" controls Max-Width="400px" Max-Height="400px" 
style="margin-bottom:20px;Max-Width:400px;Max-Height:400px;transform:rotate(90deg);" 
poster="{{ . }}.jpg"
> <source src="{{ . }}"
type="video/mp4">
Your browser does not support the video tag.  {{ . }}
</video><br>
<a href="{{ . }}">{{ . }}</a>
</div><br>

<div Width="400px" Height="400px">
<video preload="none" controls Max-Width="400px" Max-Height="400px" 
style="margin-bottom:20px;Max-Width:400px;Max-Height:400px;transform:rotate(90deg);" 
poster="{{ . }}.jpg"
> <source src="{{ . }}"
type="video/mp4">
Your browser does not support the video tag.  {{ . }}
</video><br>
<a href="{{ . }}">{{ . }}</a>
</div><br>


{{ end }}
